* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  min-height: 100vh;
}

.grid-card {
  display: grid;
  grid-template-columns: 380px 380px 380px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-width: 400px;
  width: 100%;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-weight: 900;
}

.item-img {
  width: 300px;
  margin-top: 30px;
}

.item-txt {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
}

.item-price {
  font-size: 22px;
  font-weight: 600;
}

.form {
  margin-left: 50px;
  margin-top: 40px;
  width: 500px;
  height: 20px;
}

.txt-form {
  text-align: center;
  margin-top: 20px;
}

.form-control {
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .item-img {
    width: 250px;
  }
}
